gitHELP.md
target/
.mvn/wrapper/maven-wrapper.jar
**/src/main/**/target/
**/src/test/**/target/
public/

mvnw 
mvnw.cmd

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.DS_Store

### VS Code ###
.vscode/